html, body {
  background-color: #fff;
  color: #333;
  font-family: sans-serif;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 2px solid #008055;
  margin: 0 auto;
  max-width: 720px;
  padding: 1em;
}

nav {
  align-items: center;
  display: flex;
  flex: 2;
  margin: 0;
  padding: 0;
}

nav a {
  margin-right: 1em;
}

a:link {
  color: #333;
  text-decoration: underline;
}

a:visited {
  color: #333;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #008055;
}

main {
  margin: 0 auto;
  max-width: 720px;
  padding: 0 1em;
}

p {
  margin: 1em auto;
}

img {
  max-width: 100%;
}

footer {
  border-top: 2px solid #008055;
  margin: 1em auto;
  max-width: 720px;
  padding: 1em;
}

.post-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post-meta {
  color: #666;
}
