:root {
  color-scheme: light dark;

  --bg-light: #FFFFFF;
  --fg-light: #3C3836;
  --blue-primary-light: #076678;
  --blue-secondary-light: #458588;
  --purple-primary-light: #8F3F71;
  --purple-secondary-light: #B16286;
  --grey-light: #928374;

  --bg-dark: #282828;
  --fg-dark: #FFFFFF;
  --blue-primary-dark: #83A598;
  --blue-secondary-dark: #458588;
  --purple-primary-dark: #D3869B;
  --purple-secondary-dark: #B16286;
  --grey-dark: #928374;
}

body {
  background-color: light-dark(var(--bg-light), var(--bg-dark));
  color: light-dark(var(--fg-light), var(--fg-dark));
  font-family: "Noto Sans", "Verdana", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 640px;
}

a {
  color: light-dark(var(--blue-primary-light), var(--blue-primary-dark));
}

a:hover, a:focus {
  color: light-dark(var(--blue-secondary-light), var(--blue-secondary-dark));
}

a:active, a:visited {
  color: light-dark(var(--purple-primary-light), var(--purple-primary-dark));
}

a:active:hover, a:active:focus, a:visited:hover, a:visited:focus {
  color: light-dark(var(--purple-secondary-light), var(--purple-secondary-dark));
}

header {
  border-bottom-color: light-dark(var(--grey-light), var(--grey-dark));
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-family: "Iosevka", "Courier New", monospace;
  padding: 1rem;

  & #nav-title {
    flex-grow: 1;
    font-weight: bold;
    margin: 0;
    text-align: right;
  }

  & nav {
    & ul {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      place-items: baseline;
    }

    & li {
      margin-right: 1rem;
      list-style-type: none;
    }

    & a, a:active, a:visited {
      color: light-dark(var(--fg-light), var(--fg-dark));
    }

    & a:hover,  a:focus {
      color: light-dark(var(--blue-secondary-light), var(--blue-secondary-dark));
    }
  }
}

main {
  line-height: 1.5rem;
  padding: 1rem;

  & h1 {
    font-family: "Iosevka", "Courier New", monospace;
    margin-top: 2rem;
  }

  & h2 {
    font-family: "Iosevka", "Courier New", monospace;
    margin-top: 2rem;
  }

  & h3 {
    font-family: "Iosevka", "Courier New", monospace;
    margin-top: 2rem;
  }

  & p {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  & ul {
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0;
  }

  & ul#blog-index {
    list-style-type: none;
  }

  & .blog-meta {
    color: light-dark(var(--grey-light), var(--grey-dark));
    margin-right: 1rem;
  }

  & img {
    max-width: 100%;
  }
}

footer {
  border-top-color: light-dark(var(--grey-light), var(--grey-dark));
  border-top-style: solid;
  border-top-width: 1px;
  color: var(--grey-light);
  font-family: "Iosevka", "Courier New", monospace;
  margin-top: 1rem;
  padding: 1rem;
}
