:root {
    color-scheme: light dark;

    --fonts-sans: "Helvetica Neue", "Arial", sans-serif;
    --fonts-serif: "Georgia", serif;
    --fonts-mono: ui-monospace, "Courier New", "Courier", monospace;

    --raisin-black: #1e1e24ff;
    --floral-white: #fff8f0ff;
    --vista-blue: #8ca0d7ff;
    --china-rose: #a8577eff;

    --dark: var(--raisin-black);
    --light: var(--floral-white);
    --link-blue: var(--vista-blue);
    --link-purple: var(--china-rose);
}

body {
    background-color: light-dark(var(--light), var(--dark));
    color: light-dark(var(--dark), var(--light));
    font-family: var(--fonts-sans);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 640px;
}

a {
    color: var(--link-blue);
}

a:active, a:visited {
    color: var(--link-purple);
}

header {
    border-bottom-color: light-dark(var(--dark), var(--light));
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-family: var(--fonts-sans);
    padding: 1rem;

    & #nav-title {
        flex-grow: 1;
        font-weight: bold;
        margin: 0;
        text-align: right;
    }

    & nav {
        & ul {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            place-items: baseline;
        }

        & li {
            margin-right: 1rem;
            list-style-type: none;
        }

        & a, a:active, a:visited {
            color: light-dark(var(--dark), var(--light));
        }
    }
}

main {
    line-height: 1.5rem;
    padding: 1rem;

    & h1, h2, h3 {
        font-family: var(--fonts-serif);
        margin-top: 2rem;
    }

    & p {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    & ul {
        list-style-position: inside;
        list-style-type: disc;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding: 0;
    }

    & ul#blog-index {
        font-family: var(--fonts-sans);
        list-style-type: none;
    }

    & .blog-meta {
        color: light-dark(var(--dark), var(light));
        font-family: var(--fonts-sans);
        margin-right: 1rem;
    }

    & img {
        max-width: 100%;
    }
}

footer {
    border-top-color: light-dark(var(--dark), var(--light));
    border-top-style: solid;
    border-top-width: 1px;
    font-family: var(--fonts-sans);
    margin-top: 1rem;
    padding: 1rem;

    & a, a:active, a:visited {
        color: light-dark(var(--dark), var(--light));
    }
}
