<!DOCTYPE html>
<html lang="en">
  <head>
    <title>jvytee.dev</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ get_url(path='main.css') }}" type="text/css">
    <link rel="alternate" href="{{ get_url(path='rss.xml', trailing_slash=false) }}" type="application/rss+xml" title="RSS">
  </head>

  <body>
    <header>
      <nav>
        <a href="/">jvytee.dev</a>
        <a href="{{ get_url(path='@/about/index.md') }}">About</a>
      </nav>
    </header>

    <main>
      {% block content %} {% endblock %}
    </main>

    <footer>
      {% block footer %} {% endblock %}
    </footer>
  </body>
</html>

