<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ get_url(path='normalize.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ get_url(path='main.css') }}" type="text/css">
        <link rel="alternate" href="{{ get_url(path='rss.xml', trailing_slash=false) }}" type="application/rss+xml" title="RSS">

        {% block head %} {% endblock %}
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a class="underline" href="{{ get_url(path='@/blog/_index.md') }}">Blog</a></li>
                    <li><a class="underline" href="{{ get_url(path='@/about/index.md') }}">About</a></li>
                    <li id="nav-title"><a href="/">Cloudsalat</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {% block content %} {% endblock %}
        </main>

        <footer>
            {% block footer %} {% endblock %}
        </footer>
    </body>
</html>

