{% extends "base.html" %}

{% block head %}
<title>Cloudsalat</title>
{% endblock head %}

{% block content %}
{% set section = get_section(path="blog/_index.md") %}
<h1>{{ section.title }}</h1>

<p>
  <ul id="blog-index">
    {% for page in section.pages %}
    <li>
      <span class="blog-meta">{{ page.date }}</span>
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </li>
    {% endfor %}
  </ul>
</p>
{% endblock content %}

{% block footer %}
<a href="{{ get_url(path='rss.xml') }}">Feed</a>
<a rel="me" href="https://chaos.social/@jaytee" class="invisible"></a>
{% endblock %}
