{% extends "base.html" %}

{% block head %}
<title>{{ page.title }} | Cloudsalat</title>

{% if page.extra.location is defined %}
<link rel="stylesheet" href="{{ get_url(path='leaflet.css') }}" type="text/css">
<script src="{{ get_url(path='leaflet.js') }}"></script>
<script src="{{ get_url(path='map.js') }}"></script>
{% endif %}
{% endblock head %}

{% block content %}
<p>
    <span class="blog-meta">{{ page.date }}</span>

    {% if page.extra.location is defined %}
    <a id="map-toggle" href="javascript:void(0)">Toggle map</a>
    <div id="map"></div>

    <script type="text/javascript">
        initMap(
            {{ page.extra.location }},
            "{{ config.extra.map_tile_url | safe }}",
            '{{ config.extra.map_tile_attribution | safe }}'
        );
    </script>
    {% endif %}
</p>

<h1>{{ page.title }}</h1>
{{ page.content | safe }}
{% endblock content %}
